<main>
    <h1>About</h1>
    <p>An album is a web page that displays images grouped by subject or event. Albums usually collect photographs, but other types of images such as drawings or illustrations can also be used. Albums can be created either for personal use or for publication on the internet, such as on a photo studio or photo bank website. Albums can have comments, descriptions, and tags added to make it easier to find and navigate through the images. Albums can be static, i.e. containing a fixed set of images, or dynamic, i.e. updated automatically when new images are added to a specific folder or tags are used.</p>
    
</main>